.card-container {
    display: flex;
    justify-content: center;
    font-weight:bolder;
    
}

.chirp-card {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 5px black solid;
    border-radius: 5px;
    width: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 7px 13px 30px -4px red;
    font-weight:bolder;
    background-color: black;
    
}
body{
    background: url("C:\Users\danie\Documents\react\react-classychrip\src\Halloween.jpg_cropX1=137&cropX2=1139&cropY1=0&cropY2=563");
    background-size:contain;
    color: whitesmoke;
    font-weight:bolder;
    
}

button{
    color:red;
    background-color: black;
}